@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Playfair+Display&display=swap');

.text-gradiant{  
    background: #76D905;
    background: -webkit-linear-gradient(to right, #76D905 0%, #3CB344 17%);
    background: -moz-linear-gradient(to right, #76D905 0%, #3CB344 17%);
    background: linear-gradient(to right, #76D905 0%, #3CB344 17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;     
    font-weight: 700;
}

body {
    background-color: #fff;
    font-family: 'Oswald', sans-serif;
    #content{
        width: 75%;
        margin: auto;
        .row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .col{
            display: flex;
            flex-direction: column;
            width: 45%;

            input{
                width: 100%;
                border-width: 0 0 1px 0;
                border-image: linear-gradient(to right, #76D905, #3CB344) 1;
                margin-bottom: 2rem;
            }
            .field-error{
                border-image: linear-gradient(to right, #d90505, #b33c3c) 1;
            }
            ::placeholder {
                opacity: 1;
                font-weight: 600;
                font-size: 14px;
                color: black;
            }          
        }
        textarea{
            width: 100%;
            border-width: 0 0 1px 0;
            border-image: linear-gradient(to right, #76D905, #3CB344) 1;
            margin-bottom: 2rem;
            height: 10rem;
        }
        textarea::placeholder{
            opacity: 1;
            font-weight: 600;
            font-size: 14px;
            color: black;
        }
        
          
        #contact_form_submit{
            position: relative;
            padding: .6em 1em;
            border: 0;
            margin: .6em;
            background: transparent;
            color: white;
        
            &::before {
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: -1;
            background: #76D905;
            background: -webkit-linear-gradient(to right, #76D905 0%, #3CB344 50%);
            background: -moz-linear-gradient(to right, #76D905 0%, #3CB344 50%);
            background: linear-gradient(to right, #76D905 0%, #3CB344 50%);
            transform: skew(-18deg);
            }
        }
        #submited-validation{
            height: 2rem;
        }
        .field-error-text{
            color: red;
        }
    }

}
